.header {
  font-size: larger;
  background-color: white;
  display: flex;
  justify-content: space-between;
  .titleApp {
    display: inline-block;
  }
  .signInBlock {
    button {
      margin: 0 10px;
    }
    .signIn {
      color: black;
      border-color: white;
    }
    .signUp {
      color: rgb(17, 219, 17);
      border-color: rgb(17, 219, 17);
      grid-column: 4/5;
    }
  }
  .logOutBlock {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    button,
    h4 {
      margin: 0 10px;
      display: inline-block;
    }
    .logOut {
      color: black;
      border-color: black;
    }
    .createNewArticle {
      color: rgb(17, 219, 17);
      border-color: rgb(17, 219, 17);
      grid-column: 4/5;
    }
  }
}
